
<div id="posts" class="span-15">
  <% posts.each do |post| %>
    <div class="post">
      <strong><%= link_to_user(author(post)) %></strong>
      <%= display_post(post) %>
      <div class="date">
        <%= time_ago_in_words(post.created_at) %>
		<% if post.original_id != post.id %>
		  <%= "#{t.site.retweet_prefix}#{username(post.user)}#{t.site.retweet_suffix}" %>
		<% end %>
		<span id="rt<%=post.id%>" style='display: inline;'>
		  <a href='javascript:void(0)'
		     onclick='setupElement("rt<%=post.id%>-2", "rt<%=post.id%>");'>
			 RT
		  </a>
		</span>
		<span id="rt<%=post.id%>-2" style='display: none;'>
		  <a href='<%= link_text("retweet/#{post.id}/#{current}")%>'>
		    <%= t.site.perform_retweet %>
		  </a>
		  <a href='javascript:void(0)'
		     onclick='setupElement("rt<%=post.id%>", "rt<%=post.id%>-2");'>
		    <%= t.site.cancel_retweet %>
		  </a>
		</span>
      </div>
    </div>
  <% end %>
  <% if posts.empty? %>
    <%= t.site.no_posts %>
  <% else %>
    <%= link_to("<i>#{t.site.older} >></i>", older_link) %>
  <% end %>
</div>
