<html>
  <!-- html head -->
  <head>
    <title><%= t.site.title %></title>
    <link rel="stylesheet" <%=href("css/screen.css")%> type="text/css" media="screen, projection">
    <link rel="stylesheet" <%=href("css/print.css")%> type="text/css" media="print"> 
    <!--[if IE]>
      <link rel="stylesheet" <%=href("css/ie.css")%> type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" <%=href("css/custom.css")%> type="text/css" media="screen, projection"> 
    <script type="text/javascript">
      function showLength(str) {
        document.getElementById("inputLength").innerHTML = 140 - str.length;
      }
	  function queryRetweet(id) {
	    id.match(/^rt([0-9]+)$/);
	    document.getElementById(id).innerHTML = "<a href='<%= link_text("retweet/")%>"+RegExp.$1+"/'><%= t.site.perform_retweet %></a> <a href='javascript:void(0)' onclick='cancelRetweet(\""+id+"\"); return false;'><%= t.site.cancel_retweet %></a>";
	  }
	  function cancelRetweet(id) {
	    document.getElementById(id).innerHTML = "<a href='javascript:void(0)' onclick='queryRetweet(\""+id+"\"); return false;'>RT</a>";
	  }
    </script>
  </head>

  <!-- html body -->
  <body>
    <div class="container">
      <!-- header -->
      <div id="header" class="span-24">
        <div class="span-12">
          <h1><%=t.site.title%></h1>
          <p class="small"><%=t.site.subtitle%></p>
        </div>
        <div class="span-12 last right-align">
		  <br/><br/><br/>
		  <% if logged_in_user %>
			 <%=
				config.personal_menu.map do |item|
				  generate_personal_menu_item(item)
				end.join(' | ')
			 %>
		  <% end %>
        </div>
        <hr />
      </div>

      <!-- main contents -->
      <div id="main" class="span-16">
        <%= callback.call(:maincol) %>
      </div>
      <div class="span-7 last" id="rightcol">
        <%= callback.call(:rightcol) %>
      </div>

      <!-- footer -->
      <div id="footer" class="span-24 last">
        <hr />
        proot is a simple Twitter clone written in Ruby and Sinatra to show off 
        the <a href="http://code.google.com/p/redis/">Redis key-value database</a>.
        The code is on <a href="http://github.com/jonigata/porot">Github</a>.
      </div>
    </div>
  </body>
</html>
