<html>
  <!-- html head -->
  <head>
    <title><%= t.site.title %></title>
    <link rel="stylesheet" <%=href("css/screen.css")%> type="text/css" media="screen, projection">
    <link rel="stylesheet" <%=href("css/print.css")%> type="text/css" media="print"> 
    <!--[if IE]>
      <link rel="stylesheet" <%=href("css/ie.css")%> type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" <%=href("css/custom.css")%> type="text/css" media="screen, projection"> 

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    
    <script type="text/javascript">
      function showLength(str) {
        $('#inputLength').html(140 - str.length);
      }
      function showElement(id) {
        $('#'+id).css({display: 'inline'})
      }
      function hideElement(id) {
        $('#'+id).css({display: 'none'})
      }
      function setupElement(id1, id2) {
        showElement(id1); hideElement(id2); return false;
      }
      function setupReply(id) {
        var e = $('#postarea');
        e.val('@'+id+' ');
        e.focus();
        var len = e.val().length;
        e[0].setSelectionRange(len, len);
      }

	  function clearDefaultValue(e, s) {
	    if (e.value == s) {
		  e.value = '';
		}
	  }

      var timer = 0;
      var next_check = 10;
      function resetNextCheck() {
        next_check = 10;
      }
	  function doCheck() {
	    // overloaded by _posts
	  }
      function doCheckInternal(url) {
	    $.get(url, function(data) {
          if (data != "") {
  		    showUrgeReload();
		  }
		});
	  }

	  function showUrgeReload() {
	    $('#urge_reload').css({display: 'inline'});
	  }

      $(function() {
        setInterval(function() {
          timer++;
          if (next_check <= timer) {
			doCheck();
			
            timer = 0;
            next_check *= 2;
            if (1024 <= next_check) {
              next_check = 1024;
            }
          }
        }, 1000);
      });   
    </script>
  </head>

  <!-- html body -->
  <body onmouseover="resetNextCheck();">
    <div class="container">
      <!-- header -->
      <div id="header" class="span-24">
        <div class="span-12">
          <h1><%=t.site.title%></h1>
          <p class="small"><%=t.site.subtitle%><span id="sample"></span></p>
        </div>
        <div class="span-12 last right-align">
          <br/><br/><br/>
          <% if logged_in_user %>
             <%=
                config.personal_menu.map do |item|
                  generate_personal_menu_item(item)
                end.join(' | ')
             %>
          <% end %>
        </div>
        <hr />
      </div>

      <!-- main contents -->
      <div id="main" class="span-16">
        <%= callback.call(:maincol) %>
      </div>
      <div class="span-7 last" id="rightcol">
        <%= callback.call(:rightcol) %>
      </div>

      <!-- footer -->
      <div id="footer" class="span-24 last">
        <hr />
        porot is a simple Twitter clone written in Ruby and Sinatra to show off 
        the <a href="http://code.google.com/p/redis/">Redis key-value database</a>.
        The code is on <a href="http://github.com/jonigata/porot">Github</a>.
      </div>
    </div>
  </body>
</html>
