<ntml>
  <head>
    <title><%=t.site.title%></title>
    <link rel="stylesheet" <%=href("css/screen.css")%> type="text/css" media="screen, projection">
    <link rel="stylesheet" <%=href("css/print.css")%> type="text/css" media="print"> 
    <!--[if IE]>
      <link rel="stylesheet" <%=href("css/ie.css")%> type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" <%=href("css/custom.css")%> type="text/css" media="screen, projection"> 
  </head>
  <body>
    <br />
    <div class="container">
      <div id="header" class="span-24">
        <div class="span-12">
          <h1><%=t.site.title%></h1>
		  <p class="small"><%=t.site.subtitle%></p>
        </div>
          <div class="span-12 last right-align">
            <br /><br />
            <% if @logged_in_user %>
			  <%=
			  config.personal_menu.map do |item|
				generate_personal_menu_item(item)
			  end.join(' | ')
			  %>
            <% end %>
          </div>
        <hr />
      </div>
      <div class="span-24">
