<ntml>
  <head>
    <title>porot</title>
    <link rel="stylesheet" <%=href("css/screen.css")%> type="text/css" media="screen, projection">
    <link rel="stylesheet" <%=href("css/print.css")%> type="text/css" media="print"> 
    <!--[if IE]>
      <link rel="stylesheet" <%=href("css/ie.css")%> type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" <%=href("css/custom.css")%> type="text/css" media="screen, projection"> 
  </head>
  <body>
    <br />
    <div class="container">
      <div id="header" class="span-24">
        <div class="span-12">
          <h1>porot</h1>
        </div>
          <div class="span-12 last right-align">
            <% if @logged_in_user %>
              <br /><br />
			  <%= link_to('home', '') %> |
			  <%= link_to('mentions', "#{@logged_in_user.username}/mentions") %> |
              <%= link_to_user(@logged_in_user) %> | 
			  <%= link_to('timeline', 'timeline') %> |
			  <%= link_to('logout', 'logout') %>
            <% end %>
          </div>
        <hr />
      </div>
      <div class="span-24">
