
<%= erb :header %>

<div class="span-16" id="maincol">
  <div id="updateform" class="box">
    <% if @posting_error %>
      <div class="error">
        <%= @posting_error %>
      </div>
    <% end %>
    <form action="<%=link_text("post")%>" method="post">
      <%= t.site.name_prefix %><%= @logged_in_user.username %><%= t.site.name_suffix %><%= t.site.query %> <br />
      <textarea name="content" rows="3" columns="70"></textarea><br />
      <input type="submit" value="Post">
    </form>
  </div>
  <%= @page=1; erb :_posts %>
  
</div>

<%= erb :follow %>

<%= erb :footer %>
