<html>
  <!-- html head -->
  <head>
    <title><%= t.site.title %></title>
    <link rel="stylesheet" <%=href("css/screen.css")%> type="text/css" media="screen, projection">
    <link rel="stylesheet" <%=href("css/print.css")%> type="text/css" media="print"> 
    <!--[if IE]>
      <link rel="stylesheet" <%=href("css/ie.css")%> type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" <%=href("css/custom.css")%> type="text/css" media="screen, projection"> 
    <script type="text/javascript">
      function showLength(str) {
        document.getElementById("inputLength").innerHTML = 140 - str.length;
      }
	  function queryRetweet(id) {
	    id.match(/^rt([0-9]+)$/);
	    document.getElementById(id).innerHTML = "<a href='<%= link_text("retweet/")%>"+RegExp.$1+"/'><%= t.site.perform_retweet %></a> <a href='javascript:void(0)' onclick='cancelRetweet(\""+id+"\"); return false;'><%= t.site.cancel_retweet %></a>";
	  }
	  function cancelRetweet(id) {
	    document.getElementById(id).innerHTML = "<a href='javascript:void(0)' onclick='queryRetweet(\""+id+"\"); return false;'>RT</a>";
	  }
    </script>
  </head>

  <!-- html body -->
  <body>
    <div class="container">
      <!-- header -->
      <div id="header" class="span-24">
        <div class="span-12">
          <h1><%=t.site.title%></h1>
          <p class="small"><%=t.site.subtitle%></p>
        </div>
        <div class="span-12 last right-align">
		  <br/><br/><br/>
		  <% if @logged_in_user %>
			 <%=
				config.personal_menu.map do |item|
				  generate_personal_menu_item(item)
				end.join(' | ')
			 %>
		  <% end %>
        </div>
        <hr />
      </div>

<div class="span-11 box">
  <h2>Login</h2>
  
  <% if @login_error %>
    <div class="error">
      <%= @login_error %>
    </div>
  <% end %>
  
  <form action="<%=link_text("login/")%>" method="post">
    <table>
      <tr>
        <td>username</td>
        <td><input name="username" /></td>
      </tr>
      <tr>
        <td>password</td>
        <td><input type="password" name="password" /></td>
      </tr>
    </table>
    <input type="submit" value="Log in" />
  </form>
</div>  

<div class="span-11 last box">
  <h2>Sign up</h2>
  
  <% if @signup_error %>
    <div class="error">
      <%= @signup_error %>
    </div>
  <% end %>
  
  <form action="<%=link_text("signup/")%>" method="post">
    <table>
      <tr>
        <td>username</td>
        <td><input name="username" value="<%= params[:username] %>"/></td>
      </tr>
      <tr>
        <td>password</td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr>
        <td>password again</td>
        <td><input type="password" name="password_confirmation" /></td>
      </tr>
    </table>
    <input type="submit" value="Create an account">
  </form>
</div>


      <!-- footer -->
      <div id="footer" class="span-24 last">
        <hr />
        proot is a simple Twitter clone written in Ruby and Sinatra to show off 
        the <a href="http://code.google.com/p/redis/">Redis key-value database</a>.
        The code is on <a href="http://github.com/jonigata/porot">Github</a>.
      </div>
    </div>
  </body>
</html>


