  <div id="updateform" class="box">
    <% if posting_error %>
      <div class="error">
        <%= posting_error %>
      </div>
    <% end %>
    <form action="<%=link_text("post/#{current}")%>" method="post">
	  <%= username %><%= t.site.query %> <br />
      <textarea id="postarea" name="content" rows="3" columns="70" onkeyup="showLength('postarea-input-length', value);"><%= initial_text %></textarea><br />
      <input id="tweet" type="submit" value="Post"> <span id="postarea-input-length"></span>
    </form>
  </div>
  <br/>
